<div class="container">
    <form [formGroup]="addCovidInstituicao" (ngSubmit)="onSubmit()">

        <!-- form principal - individual ou instituição -->
        <div class="form-group">
            <label for="nif">NIF</label>
            <input type="text" name="nif" class="form-control" id="nif" formControlName="nif">
        </div>

        <p>Adicionar membro</p>

        <div formArrayName="memberList" *ngFor="let item of addCovidInstituicao.get('memberList')['controls']; let i = index;">
            <div [formGroupName]="i" class="d-flex">
                <div class="form-group col-6">
                    <label for="nifMember">NIF</label>
                    <input type="text" name="nifMember" class="form-control" id="nifMember" formControlName="nif">
                </div>

                <div class="form-group col-6" >
                    <label for="inputState">Estado</label>
                    <select id="inputState" class="form-control" formControlName="option">
                        <option value="0">Suspeito</option>
                        <option value="1">Não Confirmado</option>
                        <option value="2">Confirmado</option>
                        <option value="3">Recuperado</option>
                        <option value="4">Óbito</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="addNewMember">Add novo membro</label>
            <button type="button" class="btn btn-primary ml-2" name="addNewMember" (click)="addNewMember()"> + </button>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
</div>