<!-- form principal - individual ou instituição -->
<div class="container">
    <form [formGroup]="addCovidIndividual" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nif">NIF</label>
            <input type="text" name="nif" class="form-control" id="nif" formControlName="nif">
        </div>

        <div class="form-group" >
            <label for="inputState">Estado</label>
            <select id="inputState" class="form-control" formControlName="option">
                <option value="0" >Suspeito</option>
                <option value="1">Não Confirmado</option>
                <option value="2">Confirmado</option>
                <option value="3">Recuperado</option>
                <option value="4">Óbito</option>
            </select>
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save">
        </div>
    </form>
</div>