img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

h1 {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #FFF;
    font-size: 250px;
}

a {
    position: absolute;
    top: 350px;
    right: 100px;
    text-decoration: none;
    font-size: 20pt;
    color: #FFF;
}

a:hover{

    color: rgba(255, 255, 255, 0.493);
}