
.background-img{
    background-repeat: no-repeat;
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}