<div class="container">
    <mat-spinner *ngIf="isLoading" class="post-list-spinner"></mat-spinner>

    <mat-accordion multi="true" *ngIf="instituicoes.length > 0 && !isLoading">
        <mat-expansion-panel *ngFor="let item of instituicoes">
            <mat-expansion-panel-header>
                {{item._id}}
            </mat-expansion-panel-header>
            
            <h4 *ngIf="item.elementsList.length == 0 && !isLoading">Não existe elementos</h4>
            <h4 *ngIf="item.elementsList.length > 0 && !isLoading">Elementos</h4>
            <div *ngFor="let itemElement of item.elementsList; let i = index;">
                <div class="elemet">
                    <p>Elemento {{i + 1}}</p>
                    <p>Opção: {{itemElement.option}}</p>
                </div>
            </div>

            <mat-action-row>
                <a mat-button color="primary" [routerLink]="['/nifinstituicao/edit', item._id]">EDIT</a>
                <button mat-button color="warn" (click)="onDelete(item._id)">DELETE</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <p *ngIf="instituicoes.length == 0 && !isLoading" class="info-text mat-body-1">There are no posts, yet!</p>
    
    <mat-paginator 
        [length]="totalInstituicoes" 
        [pageSize]="instituicoesPerPage" 
        [pageSizeOptions]="pageSizeOptions"
        (page)="onChangedPage($event)"
        *ngIf="instituicoes.length > 0"
        >
    </mat-paginator>

</div>