<div class="container">
    <mat-spinner *ngIf="isLoading" class="post-list-spinner"></mat-spinner>

    <mat-accordion multi="true" *ngIf="individuals.length > 0 && !isLoading">
        <mat-expansion-panel *ngFor="let item of individuals">
            <mat-expansion-panel-header>
                {{item._id}}
            </mat-expansion-panel-header>
            <p>{{item.option}}</p>
            <mat-action-row>
                <a mat-button color="primary" [routerLink]="['/nifindividual/edit', item._id]">EDIT</a>
                <button mat-button color="warn" (click)="onDelete(item._id)">DELETE</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <p *ngIf="individuals.length == 0 && !isLoading" class="info-text mat-body-1">There are no posts, yet!</p>
    
    <mat-paginator 
        [length]="totalIndividuals" 
        [pageSize]="individualsPerPage" 
        [pageSizeOptions]="pageSizeOptions"
        (page)="onChangedPage($event)"
        *ngIf="individuals.length > 0"
        >
    </mat-paginator>

</div>