<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Covid19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="../nifindividual">Lista - Individual</a>           
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="../nifindividual/create">Criar - Individual</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="../nifinstituicao">Listar - Instituição</a>    
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="../nifinstituicao/create">Criar - Instituição</a>
        </li>
    
      </ul>
    </div>
  </nav>